<form name="patientForm" ng-model="fields" ng-submit="dataEntry.submit()" novalidate angular-validator>

  <div class="col-sm-12">
    <h2>Data entry</h2>
    <div class="alert alert-info">
      On this screen you can add the test values and demographic information for your patients. You can either fill out the table
      below, or select "I wish to upload data". If you wish to upload your data you can download the .csv template in which
      the test scores can be filled out. After you have saved the file you can upload it to the page by clicking "choose
      file". Once the file has been uploaded the screen will ask you to define your missing values. When you submit this
      page, the website will fill out the table with your information and you can check whether it has done so correctly.
      Note that all patients need to have a unique ID. At the bottom of the page under "Advanced settings" you can change
      statistical settings.
    </div>
    <div>
      <!-- add patient Button -->
      <button type="button" ng-hide="btnAddPatient" class="btn rightBtn" ng-click="dataEntry.addPatient()"> Add Patient</button>
    </div>
    <!-- Table structure -->
    <div class="tblscroll">
      <span us-spinner="{radius:30, width:10, length: 20}" spinner-on="uploadSpinner"></span>
      <table class="table table-bordered data-entry-table">
        <tr>
          <td class="data-entry-td"></td>
          <td  class="data-entry-td" ng-repeat="patientData in dataEntry.patient">
            <button ng-show="dataEntry.patient.length > 1" class="remBtn" ng-click="dataEntry.removeColumn($index,$event);">Remove</button>
          </td>
        </tr>
        <tr>
          <td class="data-entry-td">id</td>
          <td ng-repeat="patientData in dataEntry.patient">
            <input type="text" name="id{{$index}}" id="id{{$index}}" ng-model="patientData.id" ng-change="dataEntry.verifyId()" required>
            <span class="has-error" ng-show="patientForm.id{{$index}}.$error.required  && dataEntry.submited">Required<br/></span>
            <span class="has-error" ng-show="patientForm.id{{$index}}.$error.duplicate">Patient ids should be unique!</span>
          </td>
        </tr>
        <tr>
          <td class="data-entry-td">age</td>
          <td class="data-entry-td" ng-repeat="patientData in dataEntry.patient">
            <input min="0" type="number" name="age{{$index}}" id="age{{$index}}" ng-model="patientData.age" required>
            <span class="has-error" ng-show="patientForm.age{{$index}}.$error.required && dataEntry.submited">Required.</span>
            <span class="has-error" ng-show="patientForm.age{{$index}}.$error.min">Enter valid age in years</span>
          </td>
        </tr>
        <tr>
          <td class="data-entry-td">sex</td>
          <td class="data-entry-td" ng-repeat="patientData in dataEntry.patient">
            <select ng-disabled="isDisabled" name="sex{{$index}}" id="sex{{$index}}" ng-model="patientData.sex" required>
              <option value="0"> Male </option>
              <option value="1"> Female</option>
            </select>
            <span class="has-error" ng-show="patientForm.sex{{$index}}.$error.required && dataEntry.submited">Required</span>
          </td>
        </tr>
        <tr>
          <td class="data-entry-td">education</td>
          <td class="data-entry-td" ng-repeat="patientData in dataEntry.patient">
            <select ng-disabled="isDisabled" name="education{{$index}}" id="education{{$index}}"ng-model="patientData.education" required>
              <option value="1"> Verhage 1 </option>
              <option value="2"> Verhage 2 </option>
              <option value="3"> Verhage 3</option>
              <option value="4"> Verhage 4</option>
              <option value="5"> Verhage 5</option>
              <option value="6"> Verhage 6</option>
              <option value="7"> Verhage 7</option>
            </select>
            <span class="has-error" ng-show="patientForm.education{{$index}}.$error.required && dataEntry.submited">Required</span>
          </td>
        </tr>
        <tr ng-repeat="(inputName, value) in selectedTestsWithComputedVarArguments">
          <td class="data-entry-td"> <span class="{{value.class}}">{{inputName}}</span> </td>
          <td class="data-entry-td" ng-repeat="patientData in dataEntry.patient">
            <input ng-model="patientData[inputName]" id="test{{$index}}_{{inputName}}" name="test{{$index}}_{{inputName}}"
              ng-readonly="patientData[inputName+'_disabled']" type="number" min="{{value.lowweb}}" max="{{value.highweb}}"
              ng-keyup="dataEntry.disableIntermediaryAndComputedVariables(inputName, patientData)"
              ng-change="dataEntry.disableIntermediaryAndComputedVariables(inputName, patientData)">
            <span class="has-error" ng-show="patientForm['test{{$index}}_{{inputName}}'].$error.min">Enter value between {{value.lowweb}} to {{value.highweb}}</span>
            <span class="has-error" ng-show="patientForm['test{{$index}}_{{inputName}}'].$error.max">Enter value between {{value.lowweb}} to {{value.highweb}}</span>
            <span class="has-error" ng-show="patientForm['test{{$index}}_{{inputName}}'].$error.number">Not valid number!</span>
          </td>
        </tr>
      </table>
    </div>

    <br><br>
    <h3>Advanced Settings</h3>
    <hr>
    <label>One tailed or two tailed </label>
    <select ng-init="patientData.sig='twoTailed'" name="sig" ng-model="patientData.sig" class="form-control" required>
                      <option value="twoTailed">Two Tailed</option>
                      <option value="oneTailedRight">Test for supernormality</option>
                      <option value="oneTailedLeft">Test for impairment</option>
                    </select>
    <span class="has-error" ng-show="dataEntry.submited && patientData.form.sig.$error.required">Required</span>
    <br><br>
    <label>Confidence Interval</label>
    <select ng-init="patientData.conf='95'" name="conf" ng-model="patientData.conf" class="form-control" required>
                      <option value="95">95</option>
                      <option value="90">90</option>
                      <option value="99">99</option>
                      <option value="68">68</option>
                    </select>

    <input type="hidden" name="nomative" ng-model="patientData.nomative" value="" />
    <span class="has-error" ng-show="dataEntry.submited && patientData.form.conf.$error.required">Required</span>
    <hr>
    <button type="button" class="btn btn-previous" ng-click="dataEntry.go('/test-selection');"> Previous</button>
    <button type="submit" class="btn btn-submit" id="submit">Next</button>
  </div>
</form>
