<div class="modal-header">
    Please specify which value(s) is used to represent missing data.
    If no value for missing data is used (blank space) you can lave
    this empty. If you have used multiple values for missing data
    (e.g. 999 as well as 888) you can define multiple values by separating
    them with comma (e.g. 999,888).
</div>
<div class="modal-body">
  <div class="form-group">
    <input type="text" id="txtvalue" ng-model="txtvalue" class="form-control" placeholder="Fill in which values are missing here... "
    />
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>