<div class="col-sm-12">
  <h2>Test selection</h2>
  <div class="alert alert-info">
    Welcome to the ANDI portal. On this page you can select the neuropsychological tests you have administered and which you want to analyze. You can browse the tests by category, or search for the tests by using the ‘search for…’ function. Clicking the
    ‘+’ icon will expand each section. Ticking the boxes will add the tests to the ‘Selected tests’ list, and from here you can arrange the order of your variables. Your data will automatically be compared to the latest version of ANDI. In case you wish
    to select an older version you can click ‘older version’. Note that we highly recommend always using the latest version. When you have completed the test selection, press Next to go to the next step.
  </div>
  <div ng-show="fileErr" class="alert alert-danger">
    <span>{{ fileErr }}</span>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-7">
    <!-- Search textbox field -->
    <h3>Select neuropsychological tests</h3>
    <input type="text" ng-model="testSearch" class="form-control" ng-keyup="testSelection.treeExpanded(testSearch)" placeholder="Search for ..."/>
    <!-- parent child wise test directive-->
    <div class="fixed-height"
      ivh-treeview-id-attribute="'uuid'"
      ivh-treeview="tests"
      ivh-treeview-expand-to-depth="0"
      ivh-treeview-default-selected-state="false"
      ivh-treeview-filter="testSearch"
      ivh-treeview-validate="true"
      ivh-treeview-on-cb-change="fancy.otherAwesomeCallback(ivhNode, ivhIsSelected, ivhTree)"></div>
  </div>
  <div class="col-sm-5">
    <h3>Selected Tests</h3>
    <!-- selected node template -->
    <script type="text/ng-template" id="tree_item_renderer">
      <span ng-if="data.children.length===0" ng-click="nodeClicked(data)">
        {{testSelection.getSelectedNodes(data)}}
      </span>
      <div ng-if="data.children" class="some">
        <div ng-if="testSelection.getSelectedNodes(data)" ng-repeat="data in data.children" class="parent_li" ng-include="'tree_item_renderer'" tree-node></div>
      </div>
    </script>
    <tree-grid tree-data="tests"></tree-grid>
    <!-- vertical scrollbar -->
    <div class="tree" style="max-height:330px;overflow-y:auto;">
      <div ng-if="testSelection.getSelectedNodes(data)" ng-repeat="data in tests" ng-include="'tree_item_renderer'"></div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <hr>
  <h3>Advanced</h3>
  <div class="col-sm-3">
    Normative data
    <!-- Normative date dropdown -->
    <div ng-if="normativedatalabel==true">
      <span style="font-size:14px">{{nomative}}</h4>
        <button class="btn btn-default" ng-click="testSelection.selectDate();" value="change">change</button>
      </div>
      <div ng-if="normativedatalabel==false">
        <select ng-model="nomative" ng-options="v for v in folders.values" ng-change="testSelection.getTreeData(nomative)" class="form-control" required></select>
      </span>
    </div>
  </div>
  <div class="col-sm-3">
    <br/>
    <!-- csv generate button -->
    <button class="btn btn-default" title="Download template" ng-click='testSelection.dataTemplate()'>
      <span class="glyphicon glyphicon-download"></span>&nbsp;Download Template
    </button>
    <br/>
    To upload a batch of patient scores download the template. Please make sure
    each patient has their own column and do not remove the "Information" column
    from the template.
    <!--End csv generate button -->
  </div>
  <div class="col-sm-2">
    <!-- upload csv -->
    <br/>
    <div ng-if="filebutton==true" class="fileinput fileinput-new" data-provides="fileinput">
      <label for="files">
        <span class="btn btn-default btn-file"><span class="glyphicon glyphicon-upload"></span>&nbsp;Upload Data</span>
      </label>
      <input style="visibility: hidden; position: absolute;" id="files" ng-model="fileContent" custom-on-change="testSelection.uploadCsv"
             class="form-control" type="file" name="files">
    </div>
    <!-- end upload csv -->
    <br/><br>
  </div>
</div>
<div class="col-sm-12">
  <!-- Tab Change Button -->
  <button type="button" class="btn btn-next" ng-click="testSelection.go('/data-entry')">
    Next</button>
</div>
