<br>
<br>
<div class="col-sm-12">
  <div class="alert alert-info">
    Welcome to the ANDI portal. On this page you can select the neuropsychological tests you have administered and which you
    want to analyze. You can browse the tests by category, or search for the tests by using the ‘search for…’ function. Clicking
    the ‘+’ icon will expand each section. Ticking the boxes will add the tests to the ‘Selected tests’ list, and from here
    you can arrange the order of your variables. Your data will automatically be compared to the latest version of ANDI.
    In case you wish to select an older version you can click ‘older version’. Note that we highly recommend always using
    the latest version. When you have completed the test selection, press Next to go to the next step.
  </div>
  <div ng-if="fileErr" class="alert alert-warning">
    <span>Please upload only the file downloaded from this portal !</span>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-7">
    <h4>Normative data</h4>
    <!-- Normative date dropdown -->
    <div ng-if="normativedatalabel==true">
      <span style="font-size:14px">{{nomative}}</h4>
                    <input type="button" ng-click="testSelection.selectDate();" value="change">
                  </div>
                  <div ng-if="normativedatalabel==false">
                    <select  ng-model="nomative"
                            ng-options="v for v in folders.values"
                            ng-change="testSelection.getTreeData(nomative)"
                            class ="form-control" required>
                    </select>
                  </div>
                  <!-- Search textbox field -->
                  <h4>Search for neuropsychological tests</h4>
                  <input type="text" ng-model="testSearch" class="form-control"
                  ng-keyup="testSelection.treeExpanded(testSearch)" placeholder ="Search for ..."/>
                  <!-- parent child wise test directive-->
                  <div
                    ivh-treeview-id-attribute="'uuid'"
                    ivh-treeview="tests"
                    ivh-treeview-expand-to-depth="0"
                    ivh-treeview-default-selected-state="false"
                    ivh-treeview-filter="testSearch"
                    ivh-treeview-validate="true"
                    ivh-treeview-on-cb-change="fancy.otherAwesomeCallback(ivhNode, ivhIsSelected, ivhTree)"
                    >
                  </div>
                </div>
                <div class ="col-sm-5">
                  <h4>Selected Tests</h4>
                  <!-- selected node template -->
                  <script type="text/ng-template"  id="tree_item_renderer">
                    <span ng-if="data.children.length===0"  ng-click="nodeClicked(data)"  >
                      {{testSelection.getSelectedNodes(data)}}
                    </span>
      <div ng-if="data.children" class="some">
        <div ng-if="testSelection.getSelectedNodes(data)" ng-repeat="data in data.children" class="parent_li" ng-include="'tree_item_renderer'"
          tree-node>
        </div>
      </div>
      </script>
      <tree-grid tree-data="tests"></tree-grid>
      <!-- vertical scrollbar -->
      <div class="tree" style="max-height:330px;overflow-y:auto;">
        <div ng-if="testSelection.getSelectedNodes(data)" ng-repeat="data in tests" ng-include="'tree_item_renderer'"></div>
      </div>
      <hr>
      <!-- csv genrate button -->
      <a ng-if="downloadtemplate==true" class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}" download="PatientTable.csv">
        <i class="glyphicon glyphicon-new-window"></i>Download Template
      </a>
      <!--End csv genrate button -->
      <div class="alert alert-info">
        <strong>NOTE!</strong>To upload a batch of patient scores please download this template. Please make sure each patient
        has their own column.
      </div>
      <!-- upload csv -->
      <div ng-if="filebutton==true" class="fileinput fileinput-new" data-provides="fileinput">
        <label for="files">
                          <span class="btn btn-default btn-file">Upload Data</span>
                        </label>
        <input style="visibility: hidden; position: absolute;" id="files" ng-model="fileContent" custom-on-change="testSelection.uploadCsv"
          class="form-control" type="file" name="files" accept=".csv">
      </div>
      <!-- end upload csv -->
    </div>
  </div>
  <div class="col-sm-12">
    <!-- Tab Change Button -->
    <button type="button" class="btn btn-next" ng-click="testSelection.go('/data-entry')"> Next</button>
  </div>
  <table ng-hide="true" export-csv="csv" separator=";" style="width:250px;" class="table table-bordered">
    <tr>
      <td class="right-td"></td>
      <td></td>
    </tr>
    <tr>
      <td class="main-td ">id</td>
      <td>(alphanumeric)</td>
    </tr>
    <tr>
      <td class="main-td">age</td>
      <td>(in years)</td>
    </tr>
    <tr>
      <td class="main-td">birthdate</td>
    </tr>
    <tr>
      <td class="main-td">testdate</td>
    </tr>
    <tr>
      <td class="main-td">sex</td>
      <td>(M-0 F-1)</td>
    </tr>
    <tr>
      <td class="main-td">education</td>
      <td>(1 - 7)</td>
    </tr>
    <tr ng-repeat="(key, value) in selectedTest">
      <td class="right-td"> {{key}} </td>
      <td>(Enter Value Between {{value.lowweb}} to {{value.highweb}} )</td>
    </tr>
  </table>
