.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 100px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/* Settings for Radar chart */

html {
  overflow-y: scroll;
}
h1 {
  color: steelblue;
  font-weight: 800;
  font-size: 1.7em;
}
h2 {
  color: steelblue;
  font-size: 1.3em;
  padding-bottom: 10px;
}
h3 {
  color: gray;
  font-size: 1.2em;
  padding-bottom: 10px;
}

footer a,
footer a:hover, footer a:visited {
  color: #D2A000;
}
.text-small {
  font-size: 12px;
  font-style: italic;
}
footer {
  color: white;
  padding-top: 5px;
  border-top: 1px solid gray;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: black;
  text-align: center;
}
pre {
  height: 200px;
  font-size: 9px;
  overflow-y: scroll;
}
.form-control-inline {
  display: inline;
  width: 40px;
  margin-right: 5px;
}
.visualization {
}
.configuration {
  font-size: 0.8em;
  width: 250px;
  border: 1px solid #ddd;
  padding-left: 20px;
  margin-bottom: 20px;
}
.checkbox {
  margin-left: 20px;
}

/* Customizable classes used in D3 vis, uncomment to customize 
.svg-vis {
  background-color: gray;
  opacity: 0.5;
} */

.verticesTooltip {
  position: absolute;
  color: red;
  font-size: 12px;
  width: 100px;
  height: auto;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  background: #f4f4f;
}
.level-lines {
  stroke: red;
  stroke-width: 1px;
}
.level-labels {
  fill: red;
  font-size: 12px;
}
.axis-lines {
  stroke: blue;
  stroke-width: 2px;
}
.axis-labels {
  fill: blue;
  font-size: 12px;
}
.polygon-vertices {
  fill-opacity: 0.6;
}
.polygon-areas {
  fill-opacity: 0.6;
}
.legend-tiles {
  fill-opacity: 0.3;
}
.legend-labels {
  font-size: 15px;
}

/*Settings for RCtrl*/
.ace_editor  {
  height : 200px;
}
#output{
  width: 100%;
  height: 500px;
}