.axis path, .axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: start;
}
.patient-line {
    stroke-width: 2;
    opacity: 0.5;
}
line {
    stroke: #2ca02c;
    stroke-width: 2;
    fill: none;
    opacity: 0.8;
}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
    opacity: 0.8;
}
circle {
    opacity: 0.6;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    height: 38px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
div.graph svg {
    padding-top: 60px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}
