node_modules
/dist
/.tmp
/.sass-cache
*/bower_components

# vim temp files
*.*~

# R related files
.Rhistory

# Python / Django
*.pyc
db.sqlite3

# Docker environment variables files
# contains passwords, should not version controlled
Docker/.env
