Django==1.9.7
django-angular==0.8.2
-e git+https://github.com/kristjanr/django-csvimport.git@af1700ca650ec26763fa78bd44810c98e01866df
django-userena==2.0.1
requests==2.10.0
gunicorn
lxml==3.6.4
cssselect==0.9.2
tinycss==0.4
CairoSVG==1.0.22
