Django==1.9.*
django-angular==0.8.*
-e git+https://github.com/kristjanr/django-csvimport.git@af1700ca650ec26763fa78bd44810c98e01866df#egg=django-csvimport
django-userena==2.0.*
requests==2.10.*
gunicorn==19.6.*
lxml==3.6.*
cssselect==0.9.*
tinycss==0.4.*
CairoSVG==1.0.*
