.left-td{
  width: 400px;
}
.remBtn{
  margin-top: -3px;
  margin-bottom: -3px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.has-error{
color: red;
}
body {
  padding: 0;
  padding-bottom: 100px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*navbar*/
.navbar {
    margin-bottom: 0;
}

/*Settings for RCtrl*/
.ace_editor  {
  height : 200px;
}
#output{
  width: 100%;
  height: 500px;
}
.textField{
 height:20px;
 width: 126px;
}
.right-td{
  width: 143px;
  height: 50px;
}
.tblscroll{
  width:500px;overflow-y:hidden;
}
.tblscrollpadding{
  width:400px;overflow-y:hidden;padding-top: 10px;
}
.rightBtn{
  float:right;
}
.ivh-treeview-toggle{
  cursor: pointer;
}
.main-td{
  width: 143px;
  height: 50px;
  color: #808080;
};
