{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Create account" %}{% endblock %}

{% block content %}
<div class="terms-box">
  <h2 class="terms">TERMS AND CONDITIONS OF USE OF THE ADVANCED NEUROPSYCHOLOGICAL DIAGNOSTICS INFRASTRUCTURE ('ANDI') WEBSITE</h2>
  <p class="terms">
    By accessing and/or using the ANDI website you agree to comply with and be bound by these Terms of Use.
    Please read these Terms of Use carefully.
  </p>
  <p class="terms">
    <b>
      If you do not agree to these Terms of Use, you must immediately terminate your use of the ANDI website.
      You may print or save a copy of these Terms of Use for your own records.
    </b>
  </p>
  <p class="terms">
    <b>0. Introduction.</b>
    The ANDI website is a new platform for neuropsychological assessment. It was developed (and is currently
    owned and maintained) by the ANDI consortium on the basis of a research project sponsored by the
    Netherlands Organization for Scientific Research (NWO).
  </p>
  <p class="terms">
    The ANDI website provides multi-test evaluation with modern multivariate statistical tools.
    It facilitates neuropsychological assessment with a web-based interface in order to support
    both qualified clinical practitioners and behavioral researchers.
  </p>
  <p class="terms">
    The ANDI website maintains a large database of neuropsychological tests and provides a
    platform for online multi-test evaluation. As a user, you may upload (anonymous) patient data,
    i.e. a series of neuropsychological test scores and/or behavior ratings of either a group of
    patients or of a single patient. Subsequently, the ANDI website returns a statistical report
    that documents for each patient separately a detailed, multivariate analysis of the profile
    of test scores. The report indicates whether the patient deviates from the norm (e.g.
    whether he/she is cognitively impaired), and which of the series of tests are responsible for
    this deviation from the norm (e.g. in which cognitive domains he/she is impaired).
  </p>
  <p class="terms">
    The report also gives point estimates with confidence intervals of the frequency with which
    the patient’s score deviations occur in the normal population. The latter information is
    essential to decide whether there are dissociations of cognitive functions, a fundamental
    concept in clinical neuropsychology and cognitive brain research in general. Additionally,
    the report documents the size and the demographic characteristics of the sample to which the
    patient(s) was/were compared. The anonymous normative data will come from people who served as
    control subjects in numerous neuropsychological and other behavioral health investigations
    that have been conducted in the past decades. The (anonymous) patient data you uploaded is only
    used to generate the statistical report and is not stored by the ANDI website.
  </p>
  <p class="terms">
    <b>1. Licence Grant.</b>
    By receiving a login and a password, you are granted a personal, revocable, limited,
    non-exclusive, non-transferable licence to access and use the ANDI website conditioned on
    your continued acceptance of, and compliance with, these Terms of Use. You may use the ANDI
    website and the statistical reports it generates for noncommercial use, in order to assist
    you in diagnosing patients, and for no other purpose. The ANDI consortium reserves the right
    to bar, restrict or suspend any user's access to the ANDI website, and/or to terminate a
    licence at any time for any reason. The ANDI consortium reserves any rights not explicitly
    granted in these Terms of Use.
  </p>
  <p class="terms">
    <b>2. Licence Restrictions.</b>
    Unless otherwise expressly stated in these Terms of Use or if you receive the ANDI
    consortium's prior written consent, you may not modify, translate, create derivative
    works of, copy, distribute, market, display, lease, sell, sublicense, clone, transfer,
    decompile, reverse engineer, or incorporate into any information retrieval system
    (electronic or mechanical), the ANDI website, the statistical reports it generates, or any
    portion thereof. Further, you may not (i) use the ANDI website for any unauthorized or
    illegal purpose or activity; (ii) interfere with the proper working of the ANDI website
    including, but not limited to, the transmission of any virus, worm, trap door, back door,
    timer, clock, Trojan horse, or other limiting routine, instruction or design; or (iii)
    interfere with any other person's use and enjoyment of the ANDI website.
  </p>
  <p class="terms">
    <b>3. Your Acceptance; Revisions to Terms of Use.</b>
    The ANDI website is only available to individuals who can enter into legally binding
    contracts under the applicable Dutch law. These Terms of Use constitute a legally
    binding agreement between you and the ANDI consortium regarding your use and access to
    the ANDI website.
    <b>By using the ANDI website you agree to the Terms of Use.</b>
  </p>
  <p class="terms">
    The ANDI consortium reserves the right to revise these Terms of Use at any time in its
    sole discretion by posting revised Terms of Use to the ANDI website. Your use of the
    ANDI website signifies your acceptance of all the terms and conditions contained within
    the Terms of Use posted at the time of your use. You will be responsible for regularly
    reviewing the Terms of Use posted to the ANDI website.
  </p>
  <p class="terms">
    <b>4. Personal Login Information.</b>
    Certain features and areas of the ANDI website are available only with registration,
    login and/or a paid subscription. If you are required to register and select a unique
    login and password ("Personal Login Information"), you must keep your Personal Login
    Information confidential. Your Personal Login Information is personal to you and you
    may not allow any third party to use it under any circumstances. The ANDI consortium
    is not liable for any harm caused by or related to the theft, misappropriation,
    disclosure, or unauthorized use of your Personal Login Information. You must contact
    the ANDI consortium immediately if you become aware of or believe there is or may have
    been any unauthorized use of your Personal Login Information, or otherwise wish to
    deactivate your Personal Login Information due to security concerns.
  </p>
  <p class="terms">
    <b>5. User Obligations.</b>
    You warrant that you will abide by all applicable local, state, national and international
    laws and regulations with respect to your use of the ANDI website and not interfere with
    the use and enjoyment of the ANDI website by other users or with the ANDI consortium's
    operation and management of the ANDI website. You will, at all times, provide true,
    accurate, current, authorized, and complete information when submitting information
    or materials on the ANDI website. If any false, inaccurate, untrue, unauthorized or
    incomplete information is submitted by you, the ANDI reserves the right to terminate your
    access and use of the ANDI website. You warrant that you will not impersonate any other
    person or entity, whether actual or fictitious, when using the ANDI website, or defame
    or otherwise harm any party, including the ANDI, through your use of the ANDI website.
  </p>
  <p class="terms">
    <b>6. Proprietary Rights.</b>
    The content of the ANDI website is the property of the ANDI consortium and is protected
    by law including, but not limited to, Dutch database right, copyright and trade secret law,
    as well as other laws, treaties and regulations. The reproduction, transmission, distribution,
    sale, publication, broadcast, circulation or dissemination of any content of the ANDI website
    by you, or by you through any other person or entity, is prohibited unless express written
    consent is separately obtained from the ANDI consortium.
  </p>
  <p class="terms">
    <b>7. Responsibility for use of the ANDI website.</b>
    Use of the ANDI website is solely at your risk. The ANDI consortium does not guarantee
    the confidentiality or security of any communication or other material transmitted to
    or from the ANDI website.  Whilst every effort has been made to ensure the accuracy of
    the information in the statistical reports generated by the ANDI website, the ANDI
    consortium accepts no responsibility for the accuracy of information provided in the
    statistical reports.
  </p>
  <p class="terms">
    <b>8. Medical Disclaimer.</b>
    The statistical reports generated by the ANDI website are provided for informational
    purposes only (in order to assist you in diagnosing patients) and are neither
    intended as medical advice, nor as a substitute for medical advice.
  </p>
  <p class="terms">
    <b>9. Patient Information.</b>
    In order to make use of the ANDI website, you may need to submit confidential
    patient information ("Patient Information"). Applicable laws, as well as ethical
    requirements, may impose obligations with respect to patient confidentiality
    that may limit your ability to receive, disclose, or make use of Patient
    Information, including transmitting Patient Information to others. You warrant
    that you will comply with all laws that may directly or indirectly govern your
    retrieval, use, transmission, processing, receipt, reporting, disclosure, or
    storage of Patient Information. You are solely responsible for obtaining and
    maintaining any patient consents, if applicable, and all other consents or
    permissions required by law or advisable with respect to your retrieval, use,
    transmission, processing, receipt, reporting, disclosure or storage of Patient
    Information. You shall be solely responsible for your retrieval, use or misuse,
    transmission, processing, receipt, reporting, disclosure or storage of Patient
    Information.
  </p>
  <p class="terms">
    <b>10. Warranties Disclaimed.</b>
    THE ANDI WEBSITE AND THE REPORTS IT GENERATES ARE PROVIDED "AS IS" AND "AS
    AVAILABLE." NEITHER THE ANDI CONSORTIUM, ITS AFFILIATES, SUBSIDIARIES,
    EMPLOYEES, OFFICERS, OR TRUSTEES NOR ANY OF ITS AGENTS, REPRESENTATIVES,
    SUPPLIERS, OR LICENSORS (COLLECTIVELY "ANDI PARTIES") PROVIDE ANY EXPRESS
    OR IMPLIED REPRESENTATION OR WARRANTY OF ANY KIND, INCLUDING WITHOUT
    LIMITATION, ANY REPRESENTATION OR WARRANTY THAT (i) THE ANDI WEBSITE,
    THE REPORTS IT GENERATES AND/OR ANY RESULTS THAT MAY BE OBTAINED BY YOU,
    ARE COMPLETE, ACCURATE, RELIABLE OR NON-INFRINGING; (ii) ACCESS TO THE ANDI
    WEBSITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE; (iii) THE
    QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED
    OR OBTAINED BY YOU THROUGH THE ANDI WEBSITE WILL MEET YOUR EXPECTATIONS; OR
    (iv) CONTENT WILL REMAIN UNCHANGED OR ACCESSIBLE ON THE ANDI WEBSITE. ALL
    WARRANTIES, EXPRESS OR IMPLIED, ARE DISCLAIMED TO THE FULLEST EXTENT
    PERMITTED BY DUTCH LAW.
  </p>
  <p class="terms">
    <b>11. Limitation of Liability.</b>
    IN USING THE ANDI WEBSITE, HEALTH-CARE PROFESSIONALS HAVE THE SOLE RESPONSIBILITY
     TO BE FULLY AWARE OF CURRENT MEDICAL AND CLINICAL PRACTICES AND STANDARDS, TO
     EMPLOY GOOD CLINICAL JUDGMENT IN SELECTING AND INTERPRETING PATIENT'S DATA
     (BOTH, INPUT DATA AND OUTPUT RESULTS), AND TO VERIFY ALL REPORTS OBTAINED
     THROUGH THE USE OF THE ANDI WEBSITE. THE ANDI CONSORTIUM SHALL NOT BE LIABLE,
     AND DISCLAIM ANY LIABILITY, FOR ANY CLAIM, LOSS OR DAMAGE, DIRECT OR INDIRECT,
     INCLUDING, WITHOUT LIMITATION, COMPENSATORY, CONSEQUENTIAL, INCIDENTAL,
     INDIRECT, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES OF ANY KIND WHATSOEVER IN
     CONNECTION WITH, AS A RESULT OF, OR ARISING (i) OUT OF THE USE OF OR INABILITY
     TO USE THE ANDI WEBSITE, THE REPORTS IT GENERATES AND/OR ANY RESULTS THAT MAY
     BE OBTAINED BY YOU; (ii) FROM ANY INTERRUPTION IN THE AVAILABILITY OF THE
     ANDI WEBSITE AND/OR ITS CONTENT; (iii) FROM ANY LOSS OF DATA AND/OR FROM
     ANY EQUIPMENT FAILURE; (iv) FROM UNAUTHORIZED ACCESS TO OR ALTERATION OF
     YOUR TRANSMISSIONS OR DATA; (v) FROM STATEMENTS OR CONDUCT OF ANY THIRD
     PARTY ON THE ANDI WEBSITE; (vi) FROM ANY DELAY OR FAILURE OF THE ANDI WEBSITE;
   </p>
   <p class="terms">
     <b>12. Indemnification.</b>
     You shall defend, indemnify, and hold harmless the ANDI consortium from and against
     all claims arising from or in any way related to your use of the ANDI website, the
     reports it generates and/or any results that may be obtained by you, a violation
     by you of these Terms of Use, or any other actions connected with your use of
     the ANDI website, the reports it generates and/or any results that may be
     obtained by you, including any liability or expense, losses, damages (actual
     and consequential), suits, judgments, litigation costs and attorneys' fees.
   </p>
   <p class="terms">
     <b>13. Term and Termination.</b>
     These Terms of Use will take effect at the time you begin using the ANDI website.
     The ANDI consortium reserves the right, with or without notice, at any time and
     for any reason to deny you access to the ANDI website or to any portion thereof,
     and to terminate these Terms of Use. These Terms of Use will terminate automatically
     if you fail to comply with or violate them. You may terminate these Terms of Use
     at any time by ceasing to use the ANDI website, but all applicable provisions of
     these Terms of Use will survive such termination.
   </p>
   <p class="terms">
     <b>14. Governing Law.</b>
     These Terms of Use and all matters regarding your use of the ANDI website shall
     be governed by, construed in accordance with, and enforced under the laws of
     the Netherlands.
   </p>
   <p class="terms">
     <b>15. Disputes; Venue.</b>
     The District Court in Amsterdam, the Netherlands, is authorized to adjudicate any
     dispute arising in connection with your use of the ANDI website and/or these
     Terms of Use.
   </p>
   <p class="terms">
     <b>16. Statute of Limitations.</b>
     Any claim or cause of action arising out of or related to your use of the ANDI
     website must be filed within six (6) months after such claim or cause of action
     arose or be forever barred.
   </p>
  <p class="terms">Last revised: September 2016</p>
</div>
<br/>
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Create account" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p class="terms">
    {{ field.label_tag }}
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans "Create account"%}" />
</form>
{% endblock %}
