<section ng-controller="PanelController as panel">
    <ul class="nav nav-tabs">
        <li ng-class="{acive:panel.isSelected(1)}" class="active"> <a href ng-click="panel.selectTab(1)" data-toggle="tab">Test Selection</a></li>

        <li ng-class="{acive:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)" data-toggle="tab" >Demographics and Data Entry</a></li>
        
        <li ng-class="{acive:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)" data-toggle="tab">Results</a></li>

      <div  ng-controller="treeController as treeCtrl">
        <div class="panel" ng-show="panel.isSelected(1)">
            <div class="tab-pane fade in active" id="tab1">
            <br> <br>
              <div class="col-sm-7">

                <h3>Normative data</h3>
              
                <select ng-model="folders.value" 
                        ng-options="v for v in folders.values"
                        ng-change="treeCtrl.getTreeData(folders.value)"
                        class ="form-control" required>
                </select>
                 <!-- <select ng-model="foldername" class ="form-control"  ng-change="treeCtrl.getTreeData(foldername)" required>
                  <option ng-repeat="x in folders" value="{{x}}"> {{x}} </option>
                </select> -->

                <h3>Search for relevant tests</h3>
                <input type="text" ng-model="testSearch" class = "form-control" 
                ng-keyup="treeCtrl.treeExpanded()" placeholder ="Search for ..."/>
                 <div
                  ivh-treeview-id-attribute="'uuid'"
                  ivh-treeview="treeCtrl.tests"
                  ivh-treeview-expand-to-depth="0"
                  ivh-treeview-default-selected-state="false"
                  ivh-treeview-filter="testSearch"
                  ivh-treeview-validate="true"
                  ivh-treeview-selected-attribute="'isSelected'"
                  ivh-treeview-on-cb-change="fancy.otherAwesomeCallback(ivhNode, ivhIsSelected, ivhTree)"
                  >
                </div>
              </div>
              <div class ="col-sm-5">
                <h3>Selected Tests</h3>
                <script type="text/ng-template"  id="tree_item_renderer">
                  <span ng-if="data.children.length===0"  ng-click="nodeClicked(data)"  >
                    <!-- /*<i class="glyphicon-plus"></i> */-->
                    {{treeCtrl.getSelectedNodes(data)}}
                  </span>
                  <div ng-if="data.children" class="some">    
                      <div ng-if="treeCtrl.getSelectedNodes(data)"  ng-repeat="data in data.children" class="parent_li"  ng-include="'tree_item_renderer'" tree-node>
                      </div>
                  </div>
                </script>
                <div class="tree" style="max-height:330px; overflow-y:auto;">
                    <div ng-if="treeCtrl.getSelectedNodes(data)" ng-repeat="data in treeCtrl.tests"  ng-include="'tree_item_renderer'"></div>
                </div>
                <hr>
              </div>
            </div>
            <div class="col-sm-12">
              <button type="button" class="btn btn-previous" ng-click="panel.previous()"> Previous</button>
              <button type="button" class ="btn btn-next" ng-click="panel.next()"> Next</button> 
            </div>
        </div>

        <div class="panel col-sm-12 col-xs-12 col-lg-12" ng-show="panel.isSelected(2)" class="tab-pane fade in active">
            <form name="patient.form" ng-model="fields" ng-submit="treeCtrl.submit()" novalidate angular-validator>  
              <div class="table-responsive" >
                
                <span ng-init="pateient_type=1"  class="" >
                  <label><input type="radio"  ng-change="btnAddPatient=false" ng-value="true" ng-model="pateient_type" ng-click="isDisabled = false;"  value="1" />Do you want to type in data</label>

                  <label><input type="radio"  ng-change="btnAddPatient=true" ng-value="false" ng-model="pateient_type" ng-click="isDisabled = true;"  value="2" />Do you want to upload file</label>
                </span>

                <div>
                  <div style="width:auto;overflow:auto;">
                    <table class="">

                    <tr>
                      <td valign="top" ng-repeat="data in treeCtrl.tabledata" class="tableindex{{treeCtrl.counterlimit}}">
                        <table  ng-attr-export-csv="{{ treeCtrl.counterlimit===0 ? 'csv' : '' }}" separator=","  border="0">
                          <tr>
                            <td colspan="2" >
                                <tree-grid tree-obj="patient" 
                                tree-disable="isDisabled"
                                 tree-table="treeCtrl" tree-index="treeCtrl.counterlimit" tree-data="treeCtrl.tests" tree-control="treeCtrl.my_tree" col-defs="treeCtrl.col_defs" expand-on="treeCtrl.expanding_property" on-select="treeCtrl.my_tree_handler(branch)" expand-level="2" icon-leaf= "glyphicon"></tree-grid>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                     
                </div>
                 <button type="button"  ng-hide="btnAddPatient" class ="btn" ng-click="treeCtrl.addPatient()"> Add Patient</button>
                </div>
                <hr>
                <a class="btn" title="Export Table" ng-click="csv.generate()" ng-href="{{ csv.link() }}" download="PatientTable.csv">
                <i class="glyphicon glyphicon-download-alt"></i> Download Template
                </a>
                <div class="alert alert-info">
                  <strong>Information!</strong> If there exists more than 5 patients. Download this template; fill in the test scores for more patients in each column and upload this file. Make sure none of the fields are left empty !
                </div>

                  <div  class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file">
                    <input type="file" name="..." id="fileContent" ></span>
                    <span class="fileinput-filename"></span>
                    <a class="btn" title="Upload to Table" ng-click="treeCtrl.uploadCsv()">
                      <i class="glyphicon glyphicon-upload"></i> Upload data
                    </a>
                  </div>


                  <br><br>
                  <h3>Advanced Settings</h3>
                  <hr>
                    <label>One tailed or two tailed </label>
                    <select name="sig" ng-model="patient.sig"  class ="form-control" required>
                      <option value="twoTailed">Two Tailed</option>
                      <option value="oneTailedRight">One Tailed Right</option> 
                      <option value="oneTailedLeft">One Tailed Left</option>
                    </select>
                    <span class="has-error" ng-show="treeCtrl.submited && patient.form.sig.$error.required">Required</span>
                    <br><br>
                    <label>Confidence Interval</label>
                    <select name="conf" ng-model="patient.conf"  class ="form-control" required>
                      <option value="95">95</option>                      
                      <option value="90">90</option>                      
                      <option value="99">99</option>
                      <option value="99">68</option>
                    </select>

                    <input type="hidden"  name="nomative" ng-model="patient.nomative" value="" />
                    <span class="has-error" ng-show="treeCtrl.submited && patient.form.conf.$error.required">Required</span>
                  <hr>


                  <button type="submit" class="btn btn-submit"  id="submit">Submit</button>
                  <button type="button" class="btn btn-previous" ng-click="panel.previous()"> Previous</button>
                  <button type="button" class ="btn btn-next" ng-click="panel.next()"> Next</button> 

                  <!-- <input type="submit" id="submit" value="Submit" /> -->
             </div>
            </form>
        </div>

        <div class="panel" ng-show="panel.isSelected(3)">
          <div ng-controller="plotController as plotCtrl" class="col-sm-12">
          <h2>Results Plots</h2>
            <select ng-model="patient.chart" class ="form-control" required ng-change="plotCtrl.lineChart(patient.chart)">
             <option value="line"> Line Chart </option>
             <option value="scatter"> Scatter plot </option>
             <option value="radar"> Radar Chart </option>
            </select>
            <nvd3 options="plotCtrl.options" data="plotCtrl.data"></nvd3>
          </div>
        </div>  
      </div>

    </ul>
</section>