<section ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
        <li ng-class="{acive:panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Test Selection</a></li>

        <li ng-class="{acive:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Demographics and Data Entry</a></li>
        
        <li ng-class="{acive:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Results</a></li>

        <div class="panel" ng-show="panel.isSelected(1)">
            <div class="tab-pane fade in active" id="tab1">
            <br> <br>
                    <div ng-controller="treeController as treeCtrl " class="col-sm-6">
                      <input type="text" ng-model="testSearch" class = "form-control" placeholder ="Search for ..."/>
                       <div
                        ivh-treeview-id-attribute="'uuid'"
                        ivh-treeview="treeCtrl.tests"
                        ivh-treeview-expand-to-depth="0"
                        ivh-treeview-filter="testSearch"
                        ivh-treeview-validate="true"
                        ivh-treeview-selected-attribute="'isSelected'"
                        ivh-treeview-on-cb-change="fancy.otherAwesomeCallback(ivhNode, ivhIsSelected, ivhTree)"
                        >
                      </div>
                      </div>
                      <div class ="col-sm-6" ng-controller="treeController as treeCtrl ">
                        <h3>Selected Tests</h3>
                        <ul width:1em; height:100%; ng-repeat="test in treeCtrl.tests  |filter:{isSelected:true}" style="list-style-type:none"> 
                        <li width= 100px >{{treeCtrl.getSelectedNodes(test)}}</li>
                        </ul>
                        <hr>
                      </div>
            </div>
            <div class="col-sm-12">
                    <button type="button" class="btn btn-previous" ng-click="panel.previous()"> Previous</button>
                    <button type="button" class ="btn btn-next" ng-click="panel.next()"> Next</button> 
            </div>
        </div>

        <div class="panel" ng-show="panel.isSelected(2)">
            <form name="patient.form" ng-controller="TableController as tblCtrl" novalidate="novalidate" ng-model="fields" >  
             <div class ="col-sm-6" class="table-responsive">
                <table class="table table-bordered" export-csv="csv" separator=",">
                  <tr>
                    <td ng-repeat="data in tblCtrl.tabledata" class="tableindex{{tblCtrl.counterlimit}}">
                      <table border=1>
                        <tr>
                          <td colspan="2" >
                              <tree-grid tree-obj="patient" tree-table="tblCtrl" tree-index="tblCtrl.counterlimit" tree-data="tblCtrl.tree_data" tree-control="tblCtrl.my_tree" col-defs="tblCtrl.col_defs" expand-on="tblCtrl.expanding_property" on-select="tblCtrl.my_tree_handler(branch)" expand-level="3" icon-leaf= "glyphicon glyphicon-edit">
                              </tree-grid>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                  <!--<div> patient_form is {{patient_form.$valid}} </div>-->
                  <!--<div>{{patient.form}}</div> -->

                 <button type="button" class ="btn btn-addPatient" ng-click="tblCtrl.addPatient()"> Add Patient</button> 
                  <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
                     download="myTable.csv">
                    <i class="glyphicon glyphicon-new-window"></i> &#160;Download Template
                  </a>
                  <hr>
                  <span id="helpblock" class="help-block">
                  If there exists more than three patients. Download this template; fill in the test scores for more patients in each column and upload this file below. Make sure none of the fields are left empty !
                  </span>
                  <hr>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <span class="btn btn-default btn-file">
                  <input type="file" name="..."></span>
                  <span class="fileinput-filename"></span>
                </div>
                  <br><br>
                  <h3>Advanced Settings</h3>
                  <hr>
                        <label>Statistical significance </label>
                        <select ng-model="patient.stat.sig" class ="form-control">
                          <option value="twoTailed">Two Tailed</option>                      
                          <option value="oneTailedRight">One Tailed Right</option> 
                          <option value="oneTailedLeft">One Tailed Left</option>
                        </select>
                        <label>Confidence Interval</label>
                        <select ng-model="patient.conf.int" class="form-control" >
                          <option value="95">95</option>                      
                          <option value="90">90</option>                      
                          <option value="99">99</option>
                          <option value="99">68</option>
                        </select>
                       <!--<div>{{tblCtrl.createPatientObject()}}</div>-->
                  <hr>
                    <button type="submit" class="btn btn-submit" ng-click="tblCtrl.submit()">Submit</button>
                    <button type="button" class="btn btn-previous" ng-click="panel.previous()"> Previous</button>
                    <button type="button" class ="btn btn-next" ng-click="panel.next()"> Next</button> 
             </div>
            </form>
        </div>

        <div class="panel" ng-show="panel.isSelected(3)">
              <div ng-controller="plotController as plotCtrl" class="col-sm-12">
              <h2>Results Plots</h2>
                <select ng-model="patient.chart" required ng-change="plotCtrl.lineChart(patient.chart)" class="form-control">
                 <option value="line"> Line Chart </option>
                 <option value="radar"> Radar Chart </option>
                </select>
                <nvd3 options="plotCtrl.options" data="plotCtrl.data"></nvd3>
              </div>
        </div>      
    </ul>
</section>