
<div class="modal-header">
  <h1>This is the title {{item.name}}</h1>
</div>
 
<div  class="modal-body">
 	<div class="form-group">
 		<input type="text" id="txtvalue" ng-model="txtvalue" class = "form-control" placeholder="your value"/>
 	</div>
 	<div class="form-group">
 		<input type="text" id="txtReplace" ng-model="txtReplace" class = "form-control"  placeholder="replace value"/>
 	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>